<div class="uline">
<br />
</div>
<div id="blog_reply">
<h3><%= "Type your reply to " + @target %></h3>

<% form_for(@blog, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_field :content, :size => 30, :maxlength => @size %>
  </p>
    <%= f.hidden_field :home_id %>
    <%= f.hidden_field :to_id %>
    <%= f.hidden_field :thread %>
    <%= f.hidden_field :prev_in_thread %>
  <p>
    <label for="upload">Attachment:</label>
    <%= file_field_tag :uploaded_data %>
  </p>
   <%= hidden_field_tag :return_id, @return_id if @return_id %>
   <%= hidden_field_tag :return_format, @return_format if @return_format %>
  <p>
    <%= f.submit "Send" %>
  </p>
<% end %>
</div>

<div class="uline">
<br />
</div>
