<h1>New friend</h1>

<%= form_for(@friend) do |f| %>
  <%= render "shared/error_messages", :target => @friend %>

  <p>
    <%= f.label :ublog_name %><br />
    <%= f.text_field :ublog_name %>
  </p>
  <p>
    <%= f.label :home_id %><br />
    <%= f.text_field :home_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', friends_path %>
