<h1>ublog Groups</h1>
<div>
<div id="description">
<p class="single-space">
Group accounts are associated with an employee group or interest.
</p>
<p class="single-space">
Groups work much like regular ublog accounts. You can follow or reply to a group.
</p>
<p class="single-space">
Public groups are accessible by everyone. Private groups require you to first "follow" the group
</p>
<p class="single-space"> 
and then be approved by an existing member.
</p>
<p class="single-space">
The owner of a private group needs to follow the group but does not need approval.
</p>
</div>

<div id="group-list" class="center">
<% if (@groups.length > 0) %>
  <table class="left-aligned">
  <tr><th>Group</th> <th>Access</th> <th>Description</th></tr>
  <% for home in @groups %>
  <tr>
  <td><%= link_to h(home.ublog_name), home_path(home) if home %></td>
  <td><%= (home.is_private && (home.is_private == 1)) ? '<span class="red-bold">Private</span>' : "Public" %>
  <td><%= home.name if home %></td>
  </tr>
  <% end %>
  </table>
<% end %>
</div>
</div>

<p class="center bold">
  <%= link_to 'Create a new ublog Group account', new_home_path %>
</p>

<div>
<br /><%= link_to('Back to my account', home_path(@home)) %>
</div>

<div id="footer">
<p>ublog is developed and brought to you by the <a href="http://www.#{DOMAIN}.com">Ruby on Rails</a> group in Company.</p>
</div>
