<h1>ublog tags</h1>

<b>Used in the last 24 hours</b>
<table>
<% count = 0 -%>
<% for tag in @tags24 %>
  <%= '<tr>' if (0 == count%10) %>
    <td><span class="separated"><%= link_to h(tag.name), tag_path(tag) %></span></td>
  <% count += 1 %>
  <%= '</tr>' if (0 == count%10) %>
<% end %>
</table>
<br />

<b>Used in the last 3 days</b>
<table>
<% count = 0 -%>
<% for tag in @tags72 %>
  <%= '<tr>' if (0 == count%10) %>
    <td><span class="separated"><%= link_to h(tag.name), tag_path(tag) %></span></td>
  <% count += 1 %>
  <%= '</tr>' if (0 == count%10) %>
<% end %>
</table>
<br />

<b>Used in the last week</b>
<table>
<% count = 0 -%>
<% for tag in @tagsweek %>
  <%= '<tr>' if (0 == count%10) %>
    <td><span class="separated"><%= link_to h(tag.name), tag_path(tag) %></span></td>
  <% count += 1 %>
  <%= '</tr>' if (0 == count%10) %>
<% end %>
</table>
<br />

<b>Older</b>
<table>
<% count = 0 -%>
<% for tag in @tagsrest %>
  <%= '<tr>' if (0 == count%10) %>
    <td><span class="separated"><%= link_to h(tag.name), tag_path(tag) %></span></td>
  <% count += 1 %>
  <%= '</tr>' if (0 == count%10) %>
<% end %>
</table>
<br />



<div>
<br /><%= link_to('Back to my account', homes_path) %>
</div>
