<% if origin = blog.origin %>
  <tr>
    <% photo = origin.photo %>
    <td class="ublog-sender-image-holder">
      <%= image_tag(photo.url(:thumb), :class => "ublog-sender-image") %>
    </td>
    <td>
      <%= link_to h(origin.ublog_name), home_path(origin, :only_path => false), {:class => "ublog-sender", :target => "_top"} %> <%= (' ' + blog.webify(request.protocol+request.host_with_port+'/') + ' <span class="ublog-dash">---</span>').html_safe %>
      <% created_time = blog.created_at.localtime -%>
      <span class="ublog-when"><%= time_ago_in_words(created_time) + " ago" %></span>
      <%= '<span class="ublog-source"> from ' + h(blog.source) + " </span>" unless blog.source.blank? %>
      <% if (!@fake_auth) and ((origin.ublog_name == @user) or (@proxy && (origin.proxy == @user))) %>
        <%= link_to image_tag(my_base_url + "/images/delete.png", :class => "ublog-delete", :title => "Delete"), my_base_url + "/blogs/#{blog.id}?return_id=#{home_id}&return_format=iframe", :confirm => 'Are you sure you want to delete this message?', :method => :delete %>
      <% end %>
      <% if attach = blog.attachment %>
        <%= link_to image_tag(my_base_url + attach.public_filename(:thumb)), my_base_url + attach.public_filename, :class => "ublog-image-attachment"  if attach.is_image%>
        <%= link_to 'Attached', my_base_url + attach.public_filename, :class=> "ublog-attachment" unless attach.is_image %>
      <% end %>
    </td>
  <% if reply %>
    <td>
    <% if blog.to && (blog.to.is_group == 1) %>
      <%= link_to "g-reply", {:only_path => false, :controller => 'blogs', :action => 'new', :home_id => author_id.to_s, :to_id => blog.to.id.to_s, :thread => (blog.thread || blog.id).to_s, :prev => blog.id.to_s, :return_id => home_id, :return_format => "iframe"}, :class => "ublog-reply" %>
    <% else %>
      <%= link_to "reply", {:only_path => false, :controller => 'blogs', :action => 'new', :home_id => author_id.to_s, :to_id => origin.id.to_s, :thread => (blog.thread || blog.id).to_s, :prev => blog.id.to_s, :return_id => home_id, :return_format => "iframe"}, :class => "ublog-reply" %>
    <% end %>
    </td>
  </tr>
  <tr>
    <td colspan="3" class="ublog-separator"></td>
  </tr>
  <% else %>
  </tr>
  <tr>
    <td colspan="2" class="ublog-separator"></td>
  </tr>
  <% end %>
<% end %>
