<div id="filter-label">
Show blogs:&nbsp&nbsp
</div>

<div id="filters">
<div id="filter-3">
<% if @tag -%>
by tag:&nbsp <span id="by-tag"><%= @tag %></span>
<% end -%>
</div>

<div id="filter-1">
<%= form_tag(home_display_path(@home)) do -%>
<%= hidden_field_tag(:page, 1) %>
<%= hidden_field_tag(:all, 0) %>
<%= submit_tag('Mine', :class => @mine ? 'page-button red-border' : 'page-button', :disabled => @mine) %>
<% end -%>
</div>

<div id="filter-2">
<%= form_tag(home_display_path(@home)) do -%>
<%= hidden_field_tag(:page, 1) %>
<%= hidden_field_tag(:all, 1) %>
<%= submit_tag('All', :class => @all ? 'page-button red-border' : 'page-button', :disabled => @all) %>
<% end -%>
</div>
</div>
