<% if (!@blocked && (@home.ublog_name != 'news')) || @admin %>
<%= form_for(@new_blog, :html => { :multipart => true }) do |f| %>
  <%= render "shared/error_messages", :target => @new_blog %>

  <p>
    <% if @owned_account -%>
      <% size = 140 %>
      <%= f.label 'What are you doing?' %><br />
    <% else -%>
      <% size = (138 - @home.ublog_name.length) %>
      <%= f.label "Type a response to #{@home.ublog_name}" %><br />
    <% end -%>
    <%= f.text_field :content, :size => field_size, :maxlength => size  %>
  </p>
  <%= f.hidden_field :home_id %>
  <%= f.hidden_field :to_id %>
  <%= f.hidden_field :prev_in_thread %>
  <p>
    <label for="upload">Attachment:</label>
    <%= file_field_tag :uploaded_data %>
  </p>
  <%= hidden_field_tag(:proxy, @proxy) if @proxy %>
   <%= hidden_field_tag :return_id, @home.id %>
   <%= hidden_field_tag :return_format, "iframe" %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
<% end %>
