<h1>Editing ublog Account</h1>

<% form_for(@home) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :ublog_name %><br />
    <%= f.text_field :ublog_name %>
  </p>
<% end %>

<%= link_to 'Show', @home %> |
<%= link_to 'Back', homes_path %>
