<%= render :partial => 'sessions/login_bar.html.erb' %>

<h1>ublog: Welcome!</h1>

<br />

  <%= form_for(@home) do |f| %>
    <%= f.hidden_field :ublog_name %>
    <%= f.hidden_field :owner %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :is_private %>
    <%= f.submit "Create my account" %>
  <% end %>
