
<div id="top-bar">
<p class="smaller">
<%= link_to('News', home_path(@news)) if @news %>&nbsp&nbsp
<%= link_to('Feedback', home_path(@feedback)) if @feedback %>&nbsp&nbsp
<%= link_to 'Groups', groups_path %>&nbsp&nbsp
<%= link_to 'Tags', tags_path %>&nbsp&nbsp
<%= link_to 'Timeline', all_path %>
</p>
<p>
<%= link_to 'Subs', home_follow_path(@home) %>
<%= link_to "Guide", "http://#{DOMAIN}pedia.#{DOMAIN}.com/display/cpda/ublog" %>
</p>
</div>

<div class="center">
<p>
  <%= 'Visiting ' if !@owned_account and !@proxy %>
  <%= 'Proxy for ' if @proxy %>
  <h2><%=h @home.name + " (" + @home.ublog_name + ")" %></h2>
</p>
<p>
  <%= image_tag(asset_type_path(@asset)) unless @home.is_group == 1 %>
</p>
<% unless @is_private %>
Following: <%= link_to((@friend_homes.length + @tags.length).to_s, home_follow_path(@home)) %><br />
<% end %>
Followed by: <%= link_to(@follower_homes.length.to_s, home_follow_path(@home)) %><br />

<%= render :partial => "homes/follow.html.erb" %>
</div>

<div>
<div>
  <%= render :partial => "homes/post.html.erb", :locals => { :field_size => 40 } %>
</div>

<div id="compress">
<% form_tag "http://xxx.#{DOMAIN}.com/set.js", 
             :target => "compress-result" do %>
  <%= label_tag "Input web address to shrink:" %>           
  <%= text_field_tag "urlin" %>
  <%= submit_tag "Shrink" %>
<% end %>
</div>

<div id="recent" >
  <%= render :partial => "homes/recent.html.erb" %>
</div>

<% if @owned_account -%>
  <%= render :partial => "homes/filter.html.erb" %>
<% end -%>

<div>
<table>
  <tr>
    <td colspan="3" class="uline"></td>
  </tr>
<% for blog in @blogs %>
<%= render :partial => "homes/blog.html.erb", :locals => { :blog => blog, 
  :home_id => @home.id, :owned_account => @owned_account, 
  :author_id => @new_blog.home_id, :mobile => true, :reply => true } %>
<% end %>
</table>
</div>

<%= render :partial => "homes/pages.html.erb" %>

</div>
<div>
<br />
<%= link_to('Back to my account', home_path(@visitor_home)) unless @owned_account %>
<%= link_to('Back to my accounts', homes_path) if @admin && @owned_account %>
</div>

<div id="search">
<% form_tag(search_path) do %>
  <p>
  Search for users, groups, messages, and tags<br />
  Tip: to get more hits: use xxx* or OR between words<br />
  <%= text_field_tag :query %>
  <%= submit_tag "Find now" %>
  </p>
<% end %>
</div>

<div id="footer">
<p>ublog is developed and brought to you by the <a href="http://www.#{DOMAIN}.com">Ruby on Rails</a> group in Company.</p>
</div>

<div class="center">
<% form_tag(home_toggle_mobile_path(@home)) do %>
   <%= hidden_field_tag :mobile, in_mobile_view? ? "0" : "1" %>
   <%= hidden_field_tag :narrow, "0" %>
   <%= submit_tag "Set Mobile View" unless in_mobile_view? %>
   <%= submit_tag "Set Desktop View" if in_mobile_view? %>
<% end %>
</div>
