
<div id="top-bar">
<p class="smaller">
<%= link_to('News', home_path(@news)) if @news %>&nbsp&nbsp
<%= link_to('Feedback', home_path(@feedback)) if @feedback %>&nbsp&nbsp
<%= link_to 'Groups', groups_path %>&nbsp&nbsp
<%= link_to 'Tags', tags_path %>&nbsp&nbsp
<%= link_to 'Timeline', all_path %>
</p>
</div>

<div class="center">
<%= render :partial => "homes/search.html.erb" %>
</div>

<div class="center">
<p>
  <%= 'Visiting ' if !@owned_account and !@proxy %>
  <%= 'Proxy for ' if @proxy %>
  <h2><%=h @home.name + " (" + @home.ublog_name + ")" %></h2>
</p>
<p>
  <%= image_tag(asset_type_path(@asset, true)) unless @home.is_group == 1 %>
</p>
<% unless @is_private %>
Following: <%= link_to((@friend_homes.length + @tags.length).to_s, home_follow_path(@home)) %><br />
<% end %>
Followed by: <%= link_to(@follower_homes.length.to_s, home_follow_path(@home)) %><br />

<%= render :partial => "homes/follow.html.erb" %>
</div>

<div>
<div>
  <%= render :partial => "homes/post.html.erb", :locals => { :field_size => 40 } %>
</div>

<div>
  <%= render :partial => "homes/compress.html.erb" %>
</div>
<br />

<div id="recent" >
  <%= render :partial => "homes/recent.html.erb" %>
</div>

<% if @owned_account -%>
  <%= render :partial => "homes/filter.html.erb" %>
<% end -%>

<div>
<%= render :partial => "homes/blogs.html.erb", :locals => { :reply => true } %>
</div>

<%= render :partial => "homes/pages.html.erb" %>

</div>
<div>
<br />
<%= link_to('Back to my account', home_path(@visitor_home)) unless @owned_account %>
<%= link_to('Back to my accounts', homes_path) if @admin && @owned_account %>
</div>

<div id="footer">
<p>ublog is developed and brought to you by the <a href="http://www.#{DOMAIN}.com">Ruby on Rails</a> group in Company.</p>
</div>

<div class="center">
<% form_tag(home_toggle_mobile_path(@home)) do %>
   <%= hidden_field_tag :mobile, in_mobile_view? ? "0" : "1" %>
   <%= hidden_field_tag :narrow, "0" %>
   <%= submit_tag "Set Mobile View" unless in_mobile_view? %>
   <%= submit_tag "Set Desktop View" if in_mobile_view? %>
<% end %>
<% unless in_mobile_view? %>
<% form_tag(home_toggle_mobile_path(@home)) do %>
   <%= hidden_field_tag :mobile, "0" %>
   <%= hidden_field_tag :narrow, "0" %>
   <%= submit_tag "Set Normal View"  %>
<% end %>
<% end %>
</div>
