<div id="right-bar">
<div id="owner-details">
  <%= @home.name %>
  <%= link_to image_tag(@home.photo.url(:small)), edit_home_path(@home) if @owned_account %>
  <%= image_tag(@home.photo.url(:small)) unless (@owned_account || (@home.is_group == 1)) %>
</div>
<div id="friends">
<% unless @is_private %>
Following: <%= link_to((@friend_homes.length + @tags.length).to_s, home_follow_path(@home), :id => 'following') %><br />
<% end %>
Followed by: <%= link_to(@follower_homes.length.to_s, home_follow_path(@home), :id => 'followed-by') %><br />
</div>
</div>

<div id="top-bar">
<p class="smaller">
<%= link_to('News', home_path(@news)) if @news %>&nbsp&nbsp
<%= link_to('Feedback', home_path(@feedback)) if @feedback %>&nbsp&nbsp
<%= link_to 'Groups', groups_path %>&nbsp&nbsp
<%= link_to 'Tags', tags_path %>&nbsp&nbsp
<%= link_to 'Timeline', all_path %>
</p>
<p>
<%= render :partial => "homes/search.html.erb" %>
</p>
</div>

<div class="center">
<p>
  <%= 'Visiting ' if !@owned_account and !@proxy %>
  <%= 'Proxy for ' if @proxy %>
  <h2><%=h @home.ublog_name %></h2>
</p>

<%= render :partial => "homes/follow.html.erb" %>
</div>

<div id="main_content">
<div id="update">
  <%= render :partial => "homes/post.html.erb", :locals => { :field_size => 80 } %>
</div>

<div class="center">
  <%= render :partial => "homes/compress.html.erb" %>
</div>
<br />

<div id="recent" >
  <%= render :partial => "homes/recent.html.erb" %>
</div>

<% if @owned_account -%>
  <%= render :partial => "homes/filter.html.erb" %>
<% end -%>

<%= render :partial => "homes/blogs.html.erb", :locals => { :reply => true } %>

<%= render :partial => "homes/pages.html.erb" %>

</div>

<div>
<br />
<%= link_to('Back to my account', home_path(@visitor_home)) unless @owned_account %>
<%= link_to('Back to my accounts', homes_path) if @admin && @owned_account %>
</div>

<div id="footer">
<p>ublog is developed and brought to you by the <a href="http://www.#{DOMAIN}.com">Ruby on Rails</a> group in Company.</p>
</div>

<div class="center">
<%= form_tag(home_toggle_mobile_path(@home)) do %>
   <%= hidden_field_tag :mobile, in_mobile_view? ? "0" : "1" %>
   <%= hidden_field_tag :narrow, "0" %>
   <%= submit_tag "Set Mobile View" unless in_mobile_view? %>
   <%= submit_tag "Set Normal View" if in_mobile_view? %>
<% end %>
<% unless in_mobile_view? %>
<%= form_tag(home_toggle_mobile_path(@home)) do %>
   <%= hidden_field_tag :mobile, "0" %>
   <%= hidden_field_tag :narrow, "1" %>
   <%= submit_tag "Set Narrow View"  %>
<% end %>
<% end %>
</div>
