<div class="center">
<p>
  <%= 'Proxy for ' if @proxy %>
  <h2><%=h @home.name %></h2>
</p>
<p>
  <%= image_tag(asset_type_path(@asset, true)) unless @home.is_group == 1 %>
</p>
</div>

<div>
<div class="center">
  <%= render :partial => "homes/post.iframe.erb", :locals => { :field_size => 40 } %>
</div>

<div class="center">
  <%= render :partial => "homes/compress.html.erb" %>
</div>
<br />

<div>
<%= render :partial => "homes/blogs.html.erb", :locals => { :reply => true, 
  :blog_partial => "homes/blog_table.iframe.erb", :periodic_url => (home_path(@home) + ".js?iframe=1") } %>
</div>

<%= render :partial => "homes/pages.html.erb" %>

</div>
<div>
<br />
</div>

<div id="footer">
<p><a href="http://ublog.#{DOMAIN}.com" target="_top">ublog</a> is is the Company internal microblog.</p>
</div>
