<h1>Editing taglink</h1>

<% form_for(@taglink) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :blog_id %><br />
    <%= f.text_field :blog_id %>
  </p>
  <p>
    <%= f.label :tag_id %><br />
    <%= f.text_field :tag_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @taglink %> |
<%= link_to 'Back', taglinks_path %>
