<h1>Listing taglinks</h1>

<table>
  <tr>
    <th>Blog</th>
    <th>Tag</th>
  </tr>

<% for taglink in @taglinks %>
  <tr>
    <td><%=h taglink.blog_id %></td>
    <td><%=h taglink.tag_id %></td>
    <td><%= link_to 'Show', taglink %></td>
    <td><%= link_to 'Edit', edit_taglink_path(taglink) %></td>
    <td><%= link_to 'Destroy', taglink, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New taglink', new_taglink_path %>
