<h1>New taglink</h1>

<% form_for(@taglink) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :blog_id %><br />
    <%= f.text_field :blog_id %>
  </p>
  <p>
    <%= f.label :tag_id %><br />
    <%= f.text_field :tag_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', taglinks_path %>
