<h1>New tagsub</h1>

<% form_for(@tagsub) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :home_id %><br />
    <%= f.text_field :home_id %>
  </p>
  <p>
    <%= f.label :tag_id %><br />
    <%= f.text_field :tag_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', tagsubs_path %>
