<!DOCTYPE html>

<html>
<head>
  <link rel="icon" type="image/png" href="/images/u.png">
  <title>ublog<%= @title &&= " | #{@title}" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => "layouts/header.mobile.erb" %>

<p><span id="notice"><%= flash[:notice] %></span></p>
<p><span id="error"><%= flash[:error] %></span></p>
<%= yield  %>

</body>
</html>
