<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" 
    "http://www.wapforum.org/DTD/xhtml-mobile10.dtd\">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<link rel="icon" type="image/png" href="/images/u.png">
	<title>ublog<%= @title &&= " | #{@title}" %></title>
  <%= stylesheet_link_tag 'ublog' %>
  <%= javascript_include_tag :defaults %>
  <%= auto_discovery_link_tag(:atom, {:format => "atom"}, {:title => "#{@home.ublog_name}'s atom 1.0 feed"}) if @home %>
  <%= auto_discovery_link_tag(:rss, {:format => "rss"}, {:title => "#{@home.ublog_name}'s rss 2.0 feed"}) if @home %>
</head>
<body>

<%= render :partial => "layouts/header.mobile.erb" %>

<p><span id="notice"><%= flash[:notice] %></span></p>
<p><span id="error"><%= flash[:error] %></span></p>
<%= yield  %>

</body>
</html>
